[submodule "metahkg-server"]
	path = metahkg-server
	url = https://gitlab.com/metahkg/metahkg-server.git
[submodule "metahkg-web"]
	path = metahkg-web
	url = https://gitlab.com/metahkg/metahkg-web.git
