[submodule "metahkg-server"]
	path = metahkg-server
	url = https://gitlab.com/metahkg/metahkg-server.git
[submodule "metahkg-web"]
	path = metahkg-web
	url = https://gitlab.com/metahkg/metahkg-web.git
[submodule "metahkg-links"]
	path = metahkg-links
	url = https://gitlab.com/metahkg/metahkg-links
[submodule "metahkg-api"]
	path = metahkg-api
	url = https://gitlab.com/metahkg/metahkg-api
[submodule "rlp-proxy-rewrite"]
	path = rlp-proxy-rewrite
	url = https://github.com/metahkg/rlp-proxy-rewrite
