limit_req_zone $binary_remote_addr zone=metahkg-rlp-proxy:10m rate=5r/s;

server {
    server_tokens off;
    listen 80;
    listen [::]:80;
    server_name $RLP_PROXY_DOMAIN;
    resolver 127.0.0.1 [::1]:5353 valid=30s;
    location / {
        limit_req zone=metahkg-rlp-proxy burst=100 delay=10;
        proxy_pass http://${METAHKG_RLP_PROXY_NAME}:3005;
    }
}
